.image-banner {
    max-height: 60%;
    max-width: 80%;
}

.image-banner-margin {
    margin-left: -25%;
    margin-bottom: 6%;
}

.image-banner-margin2 {
    margin-left: 10%;
    max-width: 80%;/* La imagen se ajustará al ancho máximo del contenedor */
    max-height: 100%; /* La imagen se ajustará a la altura máxima del contenedor */
    object-fit: contain; /* La imagen se ajustará manteniendo su relación de aspecto */
  }


.custom-color {
    color: #F1F2F2;
}


.bg-image-banner {
    background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(0, 0, 26) 0%, rgb(8, 0, 83) 100%);
  
}